/* ---------- GENERAL ---------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
img {
    max-width: 100%;
    height: auto;
}

/* ---------- ABOUT ---------- */

#about {
    padding-top: 100px;
    background: #d82c2e;
}
.profil-picture {
    text-align: center;
    margin: 0 auto;
    float: none;
}
.profil-picture img{
    border-radius: 100%;
}
